
h1{
    color: red;
}

.um{
    width: 12pc;
    float: right; 
}

body{
    background-color: blanchedalmond;
}

.links a{
    text-decoration: none;
    padding-right: 15px; 
}

table{
    width: 75%; 
}